* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  width: 100%;
}

/* todos-container */
#signup-container, #signin-container {
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  margin: 30px auto;
}

#signup-container h2, #signin-container h2 {
  margin-bottom: 20px;
}

#signup-container input, #signin-container input {
  display: block;
  margin-bottom: 8px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#signup-container input:focus, #signin-container input:focus {
  border: none;
  outline: 1px solid #007bff;
}

#signup-container button, #signin-container button {
  display: block;
  margin-top: 15px;
  width: 100%;
}

/* todos-container */
#todos-container {
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
  margin: 30px auto;
}

#todos-container h1 {
  display: inline-block;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

#todos-container #logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 40px;
}

.todos-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.todos-input-container input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.todos-input-container input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.todos-input-container button {
  padding: 0px 30px;
  margin-left: 20px;
}

button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#todos-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  background-color: #ededed;
  padding: 2px 5px 2px 0px;
  border-radius: 4px;
  width: 100%;
}

.todo-item input[type="text"] {
  padding: 8px;
  width: 80%;
  border: none;
  border-radius: 4px;
  background-color: #ededed;
}

.todo-item input[type="text"]:focus {
  outline: none;
}

.todo-item input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5); /* Adjust the scale factor as needed */
  transform-origin: center; /* Keeps the checkbox centered */
}

.todo-item button {
  margin-left: 5px;
}

.todo-item > button {
  background-color: #ce770e;
}

.todo-item > button:hover {
  background-color: #ff8c00;
}

.todo-item > button + button {
  background-color: #dc3545;
}

.todo-item > button + button:hover {
  background-color: #fb041d;
}

@media screen and (max-width: 1000px) {
  #todos-container, #signup-container, #signin-container {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  #todos-container, #signup-container, #signin-container {
    width: 95%;
  }
}